@charset "UTF-8";
:root{
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;


    --fontepadrão: arial, verdana, sans-serif;
    --fonte-android:'android', cursive;

}

@font-face{
    font-family: 'android';
    src: url('/fontes/idroid.otf') format('onpentype');
}


body{
    background-color: rgb(75, 219, 75);
}
header{
    background-image: linear-gradient(to top, rgb(9, 70, 9), rgb(42, 238, 16));
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    margin: 0%;
}
header > h1{
    text-align: center;
    font: 500px;
    font-style: italic;
    color: white;

    
}
header > p{
    color: rgb(224, 224, 224);
    font-size: x-small;
    text-align: center;
}
a{
    color: white;
    margin: 6px;
    text-decoration: none;
    

}
a:hover{
    color: yellow;
    }
nav{
    background-color: rgb(12, 94, 12);
    padding: 1px;
    margin-top: 4px;

}

footer{
    background-color: rgb(12, 94, 12);
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#s01{
    background-color: white;
    width: 1600px;
    margin: auto;
    padding-top: 1px;
}
.a1{

    text-align: center;
}
.a2{
    background-color: var(--cor2);
    margin: 20 auto;
    border-radius: 10px;

}
h1{
    color:var(--cor3);
     font-family: var(--fonte-android);
     margin-left: 50px;
     font-family: Arial, Helvetica, sans-serif;
    }    
h2{
    color: green;
    background-image: linear-gradient(to left, rgba(54, 238, 54, 0.336), rgba(94, 230, 94, 0.932));
    margin-left: 50px;
    text-align: left;
}
p{
    text-indent: 13px;
    margin: auto;
    padding: 15px;

}

#ftmuie{
    width: 950px;
    height:290px;
    margin: 0%;
}
.d2{
    background-color: var(--cor5);
    margin: 6px auto 6px auto;
}
.infreme{
    margin: 38px auto 20px auto;
}

img{
    width: 1000px;
}
.muie{
    width: 1290px;
}
.bug{
    width: 350px;
}
#logo{
    width: 99px;
}
#logo:hover
{
        -xpedu-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
h3{
    color: white;
    background-color:var(--cor4);
    text-align: left;
    border-radius: 10px 10px 0px 0px ;
    padding: 10px;
    
    
}
.d1{
    background-color: white;
    margin: 20px;
    font-size: large;
    font-weight: bold;

}
#ul{
    display: flex;
margin-left: 560px;

}